<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.python.osc.totalmix</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/your/python_osc_totalmix/.venv/bin/python3</string>
        <string>/path/to/your/python_osc_totalmix/main.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/totalmix_osc.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/totalmix_osc.out</string>
</dict>
</plist>
